layout {
    tab cwd="~/Projects/zellij-smart-tabs" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
    }
    tab cwd="~/dotfiles" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane
            pane cwd="~/Projects"
        }
    }
    tab cwd="/tmp" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane command="bash" {
            args "-c" "for i in 1 2 3; do echo screen activity $i; sleep 2; done; exec bash"
        }
    }
}
